<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{{ form_start(l) }}
{{ form_label(l.search,"ref") }}
{{ form_widget(l.search) }}
{{ form_widget(l.recherche) }}
{{ form_end(l) }}

<br>


<table border="2">
    <tr>
        <th>Title</th>
        <th>Category</th>
        <th>Published</th>
        <th>Published Date</th>
        <th>Author</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>

    {% for i in x %}
        <tr>
            <td>{{ i.title }}</td>
            <td>{{ i.category }}</td>
            <td>
                {% if  i.published  %}

                    Yes
                {% else %}
                    No
                {% endif %}



            </td>
            <td>{{ i.publicationDate | date("m/d/Y") }}</td>
            <td>{{ i.author }}</td>
            <td><a href="{{ path('book.delete' , {'id' : i.id}) }}">Delete</a></td>
            <td><a href="{{ path('book.edit' , {'id' : i.id}) }}">Update</a></td>
        </tr>
    {% endfor %}











</table>

<br>
<br>
<a href="{{ path('app_book') }}">Ajouter</a>
</body>
</html>


